@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
	/* typefaces */
	--primary-font:"Press Start 2P", serif;
	--secondary-font:"IBM Plex Serif", serif;

	/* mobile typeface sizes */
	--h1-mobile:20px;
	--h2-mobile:14px;
	--h3-mobile:12px;

	/* desktop typeface sizes */
	--h1-desktop:20px;
	--h2-desktop:20px;
	--p-desktop:14px;
	
	/* colors */
	--beige:rgb(234, 229, 223);
	--white:white;
	--dark-black:#121212;
	--top-nav:rgb(207, 205, 205);

	/* padding */
	--padding-s:0.5rem;
	--padding-m:1rem;

	/* border */
	--border-s: 0.2px solid #121212;
	--border-m: 1.5px solid #121212;
	--border-radius-popup:0.2rem;

	/* folder icon */
	--folder:80px;

	
	/* icon Sizes */
	--icon-size: 20px;

	/* popup */
	--popup-border: 2px solid darkgrey;
	--popup-bar-color:linear-gradient(0deg, rgb(23, 65, 163) 0%, rgb(34, 88, 214) 9%, rgb(35, 99, 223) 22%, rgb(34, 88, 214) 82%, rgb(54, 120, 206) 93%, rgb(34, 88, 214) 100%);
	--bottom-nav-light-blue:linear-gradient(#0c59b9 1%, #139ee9 6%, #18b5f2 10%, #139beb 14%, #1290e8 19%, #0d8dea 63%, #0d9ff1 81%, #0f9eed 88%, #119be9 91%, #1392e2 94%, #137ed7 97%, #095bc9);
    box-shadow: inset 1px 0 1px #18bbff;
}

.rounded{
	width:45px;
	height:30px;
}

body{
	background-color:var(--beige);
	cursor:none; 
}

h1{
	font-family:var(--secondary-font);
	font-size:var(--h2-mobile);
	text-align:center;
	font-style:italic;
	color:white;
}

p{
	font-size: calc(var(--h2-mobile)+3px);
	font-family:var(--p-desktop);
	padding:var(--padding-m);
	display: block;
	max-width:50rem;
	line-height:1.5;
}

section{
	width:100%;
	padding:calc(var(--padding-m) * 2);
}

img{
	display:block;
}

/* top navigation */
.top-nav{
	display:flex;
	background-color:var(--top-nav);
	align-items: center;
	gap:calc(var(--padding-m) * 16);
	border:var(--border-s);
}

.left-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	gap:var(--padding-s);
	background-color:rgb(6, 68, 6);
}

.right-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	gap:var(--padding-s);
	background: linear-gradient(#0c59b9 1%, #139ee9 6%, #18b5f2 10%, #139beb 14%, #1290e8 19%, #0d8dea 63%, #0d9ff1 81%, #0f9eed 88%, #119be9 91%, #1392e2 94%, #137ed7 97%, #095bc9);
    box-shadow: inset 1px 0 1px #18bbff;
}

/* top nav icons size */
.info-icon{
	width:20px;
	height:20px;
}

/* folder */
.folders{
	font-family:var(--secondary-font);
	font-size:var(--h2-mobile);
}

/* folder flex */
.flex-folder-container{
	display:flex;
	gap:calc(var(--padding-m) * 2);
	justify-content: center;
}

/* folder icon size */
.media-folders{
	width:var(--folder-size);
	height:var(--folder-size);
}

/* folder open/close state */
img.media-folders{
	.closed-folder{display: block}
	.open-folder {display: none}

	&:hover{
		.closed-folder {display:none}
		.open-folder{display: block}
	}
}

.scroll{
	width:20px;
	height:100vh;
	background-color:grey;
	border:1px solid #121212;
}

/* popup message */
.popup-container{
	display:flex;
	justify-content:center;
}

#popup-msg{
	background-color: var(--white);
	border-radius:0.3rem;
	width:95%;
	border: 2.5px solid #095bc9;
}

.popup-bar{
	background: rgb(2,0,36);
	background:var(--popup-bar-color);
	display:flex;
}

.popup-text{
	font-family:var(--primary-font);
	font-size:var(--h1-size-mobile);
	color: var(--white);
	width:95%;
	padding:0rem 0rem 0rem 1rem;
	align-content: center;
}

/* popup close button */
#popup-close{
	font-family:var(--primary-font);
	font-size:calc(var(--h2-mobile) + 4px);
	padding:0.4rem;
	margin:0.5rem;
	background-color:rgb(235, 235, 235);
	border-radius:var(--border-radius-popup);
	border:var(--border-m)-0.5;
}

#game-icon{
	position:absolute;
	top:3rem;
	right:6rem;
	width:200px;
	display:none;
}

@media (min-width:750px){

/* folder icon size */
.media-folders{
	width:50px;
	height:50px;
}

.popup-container{
	width:40%;
}
}
@media (min-width:1280px){
body{
	background-image: url(../assets/window.png);
	background-size:cover;
}

.footer{
	background-color:beige;
	position:absolute;
	bottom:0;
	width:100%;
}

h1{
	font-family:var(--secondary-font);
}

h2{
	font-family:var(--secondary-font);
	padding:0.7rem;
}
footer{
	position:absolute;
	bottom:0;
}

#game-icon{
	position:absolute;
	top:3rem;
	right:6rem;
	width:200px;
	display:block;
}
/* bottom navigation */
.bottom-nav{
	display:flex;
	background: linear-gradient(0deg, rgb(23, 65, 163) 0%, rgb(34, 88, 214) 9%, rgb(35, 99, 223) 22%, rgb(34, 88, 214) 82%, rgb(54, 120, 206) 93%, rgb(34, 88, 214) 100%);
	align-items: center;
	gap:calc(var(--padding-m) * 80);
	bottom:0;
}

.left-nav{
	border-radius: 0% 10px 10px 0% / 0% 25px 25px 0%;
	background-color: linear-gradient(180deg, #509d4f 0%, #499e47 69.2%, #48b347 100%), linear-gradient(180deg, #509d4f 0%, #499e47 69.2%, #48b347 100%);
    box-shadow: 1px 1px 1px #196045 inset, 2px 0 3px #00000040 inset, 0 -4px 4px #00000040 inset, -4px 0 6px #00000040 inset, 2px 4px 4px #ffffff78 inset, 0 0 #ffffff40 inset, 4px 0 4px #00000040 inset;
	border-radius: 0px 10px 10px 0px;
	padding-right:1.5rem;
}
.right-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	gap:var(--padding-s);
}

/* folder */
.folders{
	font-family:var(--secondary-font);
	font-size:var(--h2-mobile);
}

/* folder flex */
.flex-folder-container{
	display:flex;
	gap:2rem;
	justify-content:left;
}

/* folder icon size */
.media-folders{
	width:var(--folder);
	height:var(--folder);
}

.popup-container{
	width:40%;
	position:absolute;
	right:30rem;
}

.popup-close{
	font-family:var(--primary-font);
	font-size:18px;
	color:white;
	display:flex;
	width:5%;
	padding:1rem;
}

#caution-icon{
	width:50px;
	height:50px;
	margin: 1rem 0rem 0rem 1rem;
}
/* right scroll */
.scroll{
	position:fixed;
	right:0;
}
}