@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
	/* Typefaces */
	--primary-font:"Press Start 2P", serif;
	--secondary-font:"Play", serif;

	/* Line Height & Width */
	--line-height-s:1.5;
	--p-width:50rem;
	--width-l:100%;

	/* Mobile typeface sizes */
	--h1-mobile:13px;
	--h2-mobile:12px;
	--h3-mobile:11px;

	/* Desktop Typeface Sizes */
	--h1-desktop:14px;
	--h2-desktop:12px;
	--h3-desktop:10px;
	--p-desktop:14px;
	
	/* Colors */
	--bg-color:rgb(230,200,229);
	--lbg-color:linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	--white:white;
	--black:#121212;

	/* Padding */
	--padding-xs:0.3rem;
	--padding-s:0.5rem;
	--padding-m:1rem;

	/* Border */
	--border-s: 0.2px solid #121212;
	--border-m: 1.5px solid #121212;
	--border-radius-popup:0.2rem;

	/* popup */
	--top-nav:rgb(163, 163, 163);
	--popup-border: 2px solid rgb(53, 53, 53);
	--popup-bar-color:rgb(163, 163, 163);

	/* icons size */
	--icons-xs:1.2rem;
	--icons-s:3rem;
	--icons-m:3.5rem;
	--icons-l:4rem;
}

/* Typography */
body{
	background:var(--bg-color);
	/* cursor: url('../cursor-1.png'), auto; */
}

h1{
	font-family:var(--secondary-font);
	font-size:var(--h2-mobile);
	text-align:center;
	color:var((--white));
}

h2{
	font-family:var(--secondary-font);
	font-size:var(--h2-mobile);
	color:var((--white));
	padding-left:var(--padding-m);
}

p{
	font-family:var(--secondary-font);
	font-size: calc(var(--h2-mobile)+3px);
	padding:var(--padding-m);
	display: block;
	max-width:50rem;
	line-height:var(--line-height-s);
}

/* Main modal */
.popupContainer{
	padding:var(--padding-m);
	position:fixed;
	width:auto;
	left:50%;
	top:14%;
	transform: translate(-50%,0);
}

.projectScroll{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	overflow:auto;
}

.aboutProject{
	padding:var(--padding-m);
	max-width:60ch;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

li{
	width:200px;
	height:200px;
	gap:50px;
	object-fit: cover;
	overflow: hidden;
}

iframe {
	width:200px;
	height:200px;
	object-fit: cover;
}

/* buttons */
#pic-folder{
	li{
		display:none;
	}

	li.image-block{
		display:block;
	}
}

#vid-folder{
	li{
		display:none;
	}

	li.video-block{
		display:block;
	}
}

.video-size{
	height: 140px;
	width:140px;
}

.audio-size{
	height: 140px;
	width:140px;
}

#all-folder{
	li{
		display:none;
	}

	li.video-block{
		display:block;
	}
}

/* need to double check  */
ul{
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

img{
	display:block;
	width:80%;
	height:80%;
}

/* icons size */
.icons{
	width:var(--icons-s);
	height:var(--icons-s);
}

/* folders-size */
.folders{
	font-family:var(--secondary-font);
	font-size:var(--h3-mobile);
	text-align:center;
	display:inline;
}

/* BIG folder flex */
.flex-folder-container{
	display:flex;
	flex-direction:column;
	gap:var(--padding-s);
	padding:var(--padding-m);
}

/* folder flex 1*/
.icons-flex{
	display:flex;
	justify-content:space-evenly;
}

/* folder flex 2*/
.icons-flex-2{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin-top:var(--padding-m);
}

/* main folder size */
.media-folders{
	width:var(--icons-m);
	height:var(--icons-s);
}

/* folder open/close state */
.media-folders.closed-folder {
	display: block;
}

.media-folders.open-folder {
	display: none;
}

.folders:hover .closed-folder {
	display: none;
}

.folders:hover .open-folder {
	display: block;
}

.folder-header{
	margin-top:0.3rem;
}

.icons-header{
	display:flex;
	flex-direction:row;
	margin-top:0.3rem;
	justify-content: center;
}

/* popup-message-01*/
.alert-container{
	display:flex;
	display:none;
	justify-content:center;
	border-radius:0.2rem;
	z-index:200;
	text-align: center;
	height:650px;
}

#popup-msg{
	background-color: var(--white);
	width:90vw;
	border:var(--popup-border);
	border-radius:calc(var(--border-radius-popup) + 2px);
}

.frame{
	height:610px;
	overflow-y:scroll;
}

.popup-bar{
	background: rgb(2,0,36);
	background:var(--popup-bar-color);
	display:flex;
	border-bottom:2px solid #121212;
}

.popup-text{
	font-family:var(--primary-font);
	font-size:var(--h3-mobile);
	color: var(--black);
	width:95%;
	padding:0rem 0rem 0rem 1rem;
	align-content: center;
}

/* popup close button */
#popup-close{
	font-family:var(--primary-font);
	font-size:calc(var(--h2-mobile) +2px);
	color:var(--black);
	padding:0.2rem;
	margin:0.3rem;
	background-color:var(--top-nav);
	border-radius:var(--border-radius-popup);
	border:var(--popup-border);
	cursor:pointer;
}

/* bottom navigation */
.bottom-nav{
	display:flex;
	position:fixed;
	flex-direction:row;
	bottom:0;
	background-color:var(--top-nav);
	outline:var(--border-m);
	gap:calc(var(--padding-m) * 80);
	bottom:0;
	width:auto;
}

.left-nav{
	display:flex;
	flex-direction:row;
	background-color:var(--top-nav);
	border-radius: 0px 5px 5px 0px;
	padding-top:var(--padding-xs);
	padding-bottom:var(--padding-xs);
	padding-left:var(--padding-s);
	padding-right:calc(var(--padding-m) + 1rem);
	outline:var(--border-m);
	
}

.right-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	width:20%;
	align-items: center;
	padding:var(--padding-s);
	gap:var(--padding-s);
}

/* bottom nav icons */
.info-icon{
	width:var(--icons-xs);
	height:var(--icons-xs);
}

#channel-title{
	font-family:var(--primary-font);
	font-size:var(--h2-mobile);
	margin-top:1rem;
}

.content-modal{
	display: flex;
	flex-direction:column;
	background-color:var(--white);
	width:80%;
	top:15%;
	left:10%;
	border: 2px solid #121212;
}

.modal-message{
	background-color:var(--top-nav);
	display:flex;
	flex-direction:row;
	border-bottom:2px solid #121212;
	gap:5rem;
	width:auto;
}

.modal-close{
	font-family: var(--primary-font);
	font-size: calc(var(--h2-mobile) +2px);
	color: var(--black);
	padding: 0.2rem;
	margin: 0.3rem;
	background-color: var(--top-nav);
	border-radius: var(--border-radius-popup);
	border: var(--popup-border);
	cursor: pointer;
	right:11%;
}

.modal-text{
	font-family:var(--primary-font);
	font-size:var(--h1-mobile);
	padding:0.7rem;
}
::backdrop{
	backdrop-filter:blur(14px);
}

.modal-content{
	width:auto;
	height:auto;
}

.modal-image{
	width:100%;
	height:auto;
}

.link-block{
	cursor: pointer;
}

@media (min-width:782px){

.icons-flex{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}



@media (min-width:1280px){
.modal-message{
	width:auto;
	gap:49rem;
}

.modal-close{
	cursor: pointer;
}

.modal-contents{
	justify-items: center;
}

.modal-image{
	width:55vw;
	max-height:55vh;
	padding:1.5rem;
}

#popup-msg{
	width:80vw;
}

.popupContainer{
	padding:1rem;
	position:fixed;
	width:auto;
	left:50%;
	top:3%;
	transform: translate(-50%,0)
}

.icons{
	width:3.5rem;
	height:3.5rem;
}

.icons-flex{
	display:flex;
	flex-direction:column;
	gap:12px;
}

.icons-flex-2{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	width:auto;
	gap:12px;
}


body{
	background: rgb(230,200,229);
	background: linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	cursor: url('../cursor-1.png'), auto;
}

h1{
	font-family:var(--primary-font);
	font-size: var(--h1-desktop);
}

h2{
	font-family:var(--primary-font);
	padding:0.7rem;
}

h3{
	font-family:var(--secondary-font);
	font-size:10px;
	color:black;
}

p{
	font-family:var(--secondary-font);
}

/* folder size */
.media-folders{
	width:4rem;
	height:3.5rem;
}

/* folder open/close state */
.media-folders.closed-folder {
	display: block;
}

.media-folders.open-folder {
	display: none;
}

.folders:hover .closed-folder {
	display: none;
}

.folders:hover .open-folder {
	display: block;
}

/* black-overlay */
#blackScreen{
	background: rgb(230,200,229);
	background: linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	position:absolute;
	height:100vh;
	width:100vw;
	z-index:150;
	top:0;
	display:block;
	transition: ease-in-out 0.3s;
}

#game-icon{
	position:absolute;
	top:3rem;
	right:6rem;
	width:200px;
	display:block;
}
/* bottom navigation */
.bottom-nav{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	outline: 1.5px solid #121212;
	position:fixed;
	width:100%;
	bottom:0;
}

.left-nav{
	background-color: #76acee;
	border-radius: 0px 10px 10px 0px;
	padding-right:1.5rem;
}

.right-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	min-width:150px;
}

/* folder div */
.folders{
	font-family:var(--primary-font);
	font-size:var(--h2-desktop);
	color:white;
	display:flex;
	flex-direction:column;
	justify-items:center;
}

/* folder flex */
.flex-folder-container{
	display:flex;
	flex-direction:column;
	padding:1rem;
	max-width:fit-content;
}

/* popup-message-01*/
.popup-container{
	position:fixed;
	right:0.5rem;
	top:4rem;
}

.popup-bar{
	background-color:var(--top-nav);
}

.popup-close{
	font-family:var(--primary-font);
	font-size:18px;
	color:white;
	display:flex;
	width:5%;
	padding:1rem;
}

.info-icon{
	width:1.2rem;
	height:1.2rem;
}
#caution-icon{
	width:50px;
	height:50px;
	margin: 1rem 0rem 0rem 1rem;
}
/* right scroll */
.scroll{
	position:fixed;
	right:0;
}

.footer{
	background-color:beige;
	position:absolute;
	bottom:0;
	width:100%;
}

ul{
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}

/* buttons */
#pic-folder{
	li{
		display:none;
	}

	li.image-block{
		display:block;
	}
}

#vid-folder{
	li{
		display:none;
	}

	li.video-block{
		display:block;
	}
}

.video-size{
	height:100px;
	width:100px;
}

#all-folder{
	li{
		display:none;
	}

	li.video-block{
		display:block;
	}
}