@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
	/* typefaces */
	--primary-font:"Press Start 2P", serif;
	--secondary-font:"Play", serif;

	--line-height-s:1.5;
	--p-width:50rem;
	--width-l:100%;

	/* mobile typeface sizes */
	--h1-mobile:20px;
	--h2-mobile:12px;
	--h3-mobile:12px;

	/* desktop typeface sizes */
	--h1-desktop:14px;
	--h2-desktop:12px;
	--h3-desktop:10px;
	--p-desktop:14px;
	
	/* colors */
	--bg-color:rgb(230,200,229);
	--lbg-color:linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	--white:white;
	--black:#121212;

	/* padding */
	--padding-s:0.5rem;
	--padding-m:1rem;

	/* border */
	--border-s: 0.2px solid #121212;
	--border-m: 1.5px solid #121212;
	--border-radius-popup:0.2rem;

	/* folder icon */
	--folder:60px;

	
	/* icon Sizes */
	--icon-size:20px;

	/* popup */
	--top-nav:rgb(163, 163, 163);
	--popup-border: 2px solid rgb(53, 53, 53);
	--popup-bar-color:rgb(163, 163, 163);
}



.projectScroll{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	overflow:auto;
}

.aboutProject{
	padding:1rem;
	max-width:60ch;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.popupContainer{
	padding:2rem;
	position:fixed;
	width:auto;
	left:50%;
	top:0%;
	transform: translate(-50%,0)
}

li{
	width:200px;
	height:200px;
	gap:50px;
	object-fit: cover;
	overflow: hidden;
}

iframe {
	width:200px;
	height:200px;
	object-fit: cover;
}

a{color:blue}

.show-image{
	li{
		display:none;
	}

	li.image-block{
		display:block;
	}
}

.show-video{
	li{
		display:none;
	}

	li.video-block{
		display:block;
	}
}

#show-video-button{
	padding:1rem;
	background-color:aquamarine;
	border-radius:50px;
	cursor:pointer;
}

#show-all-button{
	padding:1rem;
	background-color:aquamarine;
	border-radius:50px;
	cursor:pointer;
}

/* need to double check  */
ul{
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 20px;
}
.rounded{
	width:45px;
	height:45px;
}

body{
	background:var(--bg-color);
	/* cursor: url('../cursor-1.png'), auto; */
}

h1{
	font-family:var(--secondary-font);
	font-size:var(--h2-mobile);
	text-align:center;
	color:var((--white));
}

p{
	font-family:var(--secondary-font);
	font-size: calc(var(--h2-mobile)+3px);
	padding:var(--padding-m);
	display: block;
	max-width:50rem;
	line-height:var(--line-height-s);
}


img{
	display:block;
}

/* bottom-nav*/
.left-nav{
	align-items: center;
	padding:var(--padding-s);
	gap:var(--padding-s);
	background-color:rgb(6, 68, 6);
}

/* icons*/
.icons-flex{
	display:flex;
	justify-content:space-evenly;
}

.icons-flex-2{
	display:flex;
	justify-content:space-evenly;
	flex-direction:column;
}

.info-icon{
	width:20px;
	height:20px;
}

/* icons size */
.icons{
	width:4rem;
	height:4rem;
}

.media-folders{
	width:6rem;
	height:6rem;
}

/* folders-size */
.folders{
	font-family:var(--secondary-font);
	font-size:var(--h3-mobile);
}

/* folder flex */
.flex-folder-container{
	/* display:flex; */
	flex-direction:row;
	gap:calc(var(--padding-m) * 2);
	padding:1rem;
}

/* folder open/close state */
.media-folders.closed-folder {
	display: block;
}

.media-folders.open-folder {
	display: none;
}

.folders:hover .closed-folder {
	display: none;
}

.folders:hover .open-folder {
	display: block;
}

/* .scroll{
	width:20px;
	height:100vh;
	background-color:grey;
	border:1px solid #121212;
} */

/* popup-message-01*/
.popup-container{
	display:flex;
	display:none;

	justify-content:center;
	border-radius:0.2rem;
	z-index:200;
	text-align: center;
	height:650px;
}

#popup-msg{
	background-color: var(--white);
	width:70vw;
	border:var(--popup-border);
	height:650px;
}

.frame{
	height:610px;
	overflow-y:scroll;
}

.popup-bar{
	background: rgb(2,0,36);
	background:var(--popup-bar-color);
	display:flex;
}

.popup-text{
	font-family:var(--primary-font);
	font-size:var(--h1-size-mobile);
	color: var(--black);
	width:95%;
	padding:0rem 0rem 0rem 1rem;
	align-content: center;
}

/* popup close button */
#popup-close{
	font-family:var(--primary-font);
	font-size:calc(var(--h2-mobile) +2px);
	color:var(--black);
	padding:0.2rem;
	margin:0.3rem;
	background-color:var(--top-nav);
	border-radius:var(--border-radius-popup);
	border:var(--popup-border);
	cursor:pointer;
}

#game-icon{
	position:absolute;
	top:3rem;
	right:6rem;
	width:200px;
}

/* background */
#blackScreen{
	background: rgb(230,200,229);
	background: linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	position:fixed;
	height:100vh;
	width:100vw;
	display:block;
	z-index:150;
	transition: ease-in-out 0.3s;
}

/* bottom navigation */
.bottom-nav{
	display:flex;
	position:fixed;
	flex-display:row;
	bottom:0;
	background-color:#76acee;
	outline: 1.5px solid #121212;
	gap:calc(var(--padding-m) * 80);
	bottom:0;
	width:auto;
}

.left-nav{
	border-radius: 0% 10px 10px 0% / 0% 25px 25px 0%;
	background-color: #296dc0;
	border-radius: 0px 10px 10px 0px;
	padding-left:1rem;
	padding-right:2.5rem;
	outline: 1.5px solid #121212;
	gap:var(--padding-s);
}

.right-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	width:20%;
}

@media (min-width:782px){

.icons-flex{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}


/* folder icon size */
.media-folders{
	width:50px;
	height:50px;
}


@media (min-width:1280px){

.icons{
	width:3.5rem;
	height:3.5rem;
}

.icons-flex{
	display:flex;
	flex-direction:column;
}

.icons-flex-2{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	width:auto;
}


body{
	background: rgb(230,200,229);
	background: linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	cursor: url('../cursor-1.png'), auto;
}

h1{
	font-family:var(--primary-font);
	font-size: var(--h1-desktop);
}

h2{
	font-family:var(--primary-font);
	padding:0.7rem;
}

h3{
	font-family:var(--secondary-font);
	font-size:10px;
	color:black;
}

p{
	font-family:var(--secondary-font);
}


/* folder open/close state */
.media-folders.closed-folder {
	display: block;
}

.media-folders.open-folder {
	display: none;
}

.folders:hover .closed-folder {
	display: none;
}

.folders:hover .open-folder {
	display: block;
}

/* black-overlay */
#blackScreen{
	background: rgb(230,200,229);
	background: linear-gradient(90deg, rgba(230,200,229,1) 0%, rgba(255,222,254,1) 39%, rgba(215,220,255,1) 75%, rgba(195,245,255,1) 100%);
	position:absolute;
	height:100vh;
	width:100vw;
	z-index:150;
	top:0;
	display:block;
	transition: ease-in-out 0.3s;
}

#game-icon{
	position:absolute;
	top:3rem;
	right:6rem;
	width:200px;
	display:block;
}
/* bottom navigation */
.bottom-nav{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	outline: 1.5px solid #121212;
	position:fixed;
	width:100%;
	bottom:0;
}

.left-nav{
	background-color: #76acee;
	border-radius: 0px 10px 10px 0px;
	padding-right:1.5rem;
}

.right-nav{
	display:flex;
	align-items: center;
	padding:var(--padding-s);
	min-width:150px;
}

/* folder div */
.folders{
	font-family:var(--primary-font);
	font-size:var(--h2-desktop);
	color:white;
	display:flex;
	flex-direction:column;
	justify-items:center;
}

/* folder flex */
.flex-folder-container{
	display:flex;
	flex-direction:row;
	gap:1rem;
}


/* popup-message-01*/
.popup-container{
	position:fixed;
	right:0.5rem;
	top:4rem;
}

.popup-bar{
	background-color:var(--top-nav);
	outline:var(--popup-border);
}

.popup-close{
	font-family:var(--primary-font);
	font-size:18px;
	color:white;
	display:flex;
	width:5%;
	padding:1rem;
}

.info-icon{
	width:1.2rem;
	height:1.2rem;
}
#caution-icon{
	width:50px;
	height:50px;
	margin: 1rem 0rem 0rem 1rem;
}
/* right scroll */
.scroll{
	position:fixed;
	right:0;
}

.footer{
	background-color:beige;
	position:absolute;
	bottom:0;
	width:100%;
}

ul{
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}

