


.vertical-scroll{
	background-color: grey;
	display: flex;
	flex-direction: column;
	position: relative;
	height:10rem;
}

.projectScroll{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	overflow:auto;
}

.aboutProject{
	padding:1rem;
	max-width:60ch;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.popupContainer{
	padding:2rem;
}

li{
	width:200px;
	height:200px;
	gap:50px;
	object-fit: cover;
	overflow: hidden;
}

iframe {
	width:200px;
	height:200px;
	object-fit: cover;
}

a{color:blue}

#show-video-button{
	padding:1rem;
	background-color:aquamarine;
	border-radius:50px;
	cursor:pointer;
}

#show-all-button{
	padding:1rem;
	background-color:aquamarine;
	border-radius:50px;
	cursor:pointer;
}

/* need to double check  */
ul{
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 20px;
}

@media (min-width:1280px){
ul{
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}

.show-video{
	li{
		display:none;
	}

	li.video-block{
		display:block;
	}
}